


.pos .pos-sale-ticket {
    width: 650px;
    font-size: 14px;
}


.screen .centered-content{
    right:10%; top: 64px; bottom: 0px;
    left:10%;
}



@media print {
    .pos {
        overflow: auto !important;
    }
    .pos .pos-sale-ticket{
        margin-top : 10mm  !important;
        margin-left: 10mm   !important;
        padding-left : 1mm  !important;
        padding-right: 1mm   !important;
        width      : 127mm           !important;
        border     : solid 1px green !important;
        overflow: initial !important;
        display: block !important;
    }



    .pos .pos-sale-ticket table {
        table-layout: initial !important;
    }


}



